.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #150724; /* Updated background color (blackish-grey-purple) */
  color: #fff; 
}


.experience-text {
  font-size: 20px; 
  font-weight: bold; 
  font-family: 'Roboto'; 
  text-align: center;
}


.bitsbuy-header {
  font-size: 80px; 
  font-weight: bold; 
  font-family: 'Roboto'; 
  margin-top:-2rem;
  margin-bottom: 0rem;
}

.login-button {
  background-color: #d35934 !important; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px !important;
  border-radius: 5px;
  transition: background-color 0.3s ease !important; 
  font-weight:bold;
  font-family: 'Roboto' ; 
}

.login-button:hover {
  background-color: #ff6f42 !important; 
}