.card {
  background-color: rgba(255, 255, 240, 0.79);
  width: 300px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a border to the card */
  margin-left:20px;
  margin-bottom: 5px;
}

.imageSection {
  padding: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Add a border between imageSection and label */
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: -0.25px;
  text-transform: uppercase;

  padding-left: 0.15rem;
}

.section {
  padding: var(--mantine-spacing-md);
  border-top: 1px solid rgba(0, 0, 0, 0.2); /* Add a border between section and icon */
}

.icon {
  margin-right: 5px;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-2));
}
