body {
  background-color: #150724;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white; /* Text color for the entire page */
}

/* Style for the SearchBar container */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* Styles for the SearchBar component */
.search-bar {
  max-width: 400px; 
  background-color: transparent; 
  margin-bottom: 20px; 
}


h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.home-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh;
  background-color: #150724;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; /* Place it above the items but below the navbar */
}
.nav-button {
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff6f42;
  color: #ffffff;
  border: none;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.items-container {
  /*margin-top: -800px;*/
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e0e1dd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(25, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 70%;
  height: 90%;
  margin-left: 15%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: auto;
}